.redBox {
    width: 100px;
    height: 100px;
    background: red;
    display: inline-block;
}

.blackBox {
    width: 100px;
    height: 100px;
    background: black;
    display: inline-block;
}